{% load static %}
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CRM</title>
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
		<link href = "{% static 'css/styles.css' %}" rel="stylesheet" />
		<link href = "{% static 'css/post-min.css' %}" rel="stylesheet" />
		<script src="{% static 'js/main.js' %}" type="text/javascript"></script>  

		<!-- <style>
			a.cta_button{-moz-box-sizing:content-box !important;-webkit-box-sizing:content-box !important;box-sizing:content-box !important;vertical-align:middle}.hs-breadcrumb-menu{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}.hs-breadcrumb-menu-item{float:left;padding:10px 0px 10px 10px}.hs-breadcrumb-menu-divider:before{content:'›';padding-left:10px}.hs-featured-image-link{border:0}.hs-featured-image{float:right;margin:0 0 20px 20px;max-width:50%}@media (max-width: 568px){.hs-featured-image{float:none;margin:0;width:100%;max-width:100%}}.hs-screen-reader-text{clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute !important;width:1px}
		</style> -->
		
		<!-- <link rel="stylesheet" href="https://blog.hubspot.com/wt-assets/static-files/2.1.19/core-nav/styles.css"> -->
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/template_assets/77591971379/1673638882938/_Web_Team_Assets/Blog/templates/partials/blog-international-navigation/navigation.min.css">
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/module_assets/77591971357/1674594577100/module_77591971357_read-time-bar.min.css">
		<!-- <link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/template_assets/77591971382/1675080057451/_Web_Team_Assets/Blog/templates/pages/post/post.min.css"> -->
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/module_assets/82682696854/1674594576690/module_82682696854_public-facing-updated-date.min.css">
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/module_assets/68123102211/1675080053476/module_68123102211_post-header.min.css">
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/module_assets/69920707401/1675362743981/module_69920707401_social-share-on-page.min.css">
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/module_assets/69920707403/1674594577558/module_69920707403_suggested-content.min.css">
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/module_assets/77591239588/1674594577278/module_77591239588_social-share-popover.min.css">
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/module_assets/70928313376/1674744971632/module_70928313376_exit-intent-popup.min.css">
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/module_assets/70928313387/1674594578563/module_70928313387_sticky-cta.min.css">
		<link rel="stylesheet" href="https://blog.hubspot.com/hs-fs/hub/53/hub_generated/template_assets/67636986656/1668701964851/_Web_Team_Assets/Website/assets/css/multi-step-offers-form.min.css">
	
		
		






	</head>
	<body>
		<div class = "max-w-7xl mx-auto">
			{% include 'navbar.html' %}
			{% block content %}
			{% endblock content %}
		</div>
		{% include "scripts.html" %}
	</body>
	</html>